body {
  background: #0f172a;
  color: white;
  font-family: sans-serif;
  padding: 20px;
}
input, button {
  width: 100%;
  margin: 6px 0;
  padding: 10px;
  border-radius: 8px;
  border: none;
}
button {
  background: #6366f1;
  color: white;
}
